<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/tabs/tab3" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Notificação</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <h1>Filmes que chegarão em breve </h1>

  <hr>

<div id="listFilm">
  <div class="filmNotification"> 
    <img class="imgFilm" src="../../assets/icon/de volta para o futuro.svg  " alt="">
    <div class="legend">
      <p class="txtDescription">De volta para o futuro</p>
      <p class="txtDescription">Disponível: 12/04/2024</p>
    </div>
  </div>

  <div class="filmNotification"> 
    <img class="imgFilm" src="../../assets/icon/trem bala icon.svg" alt="">
    <div class="legend">
      <p class="txtDescription">Trem Bala</p>
      <p class="txtDescription">Disponível: 16/04/2024</p>
    </div>
  </div>

  <div class="filmNotification"> 
    <img class="imgFilm" src="../../assets/icon/o iluminado.svg" alt="">
    <div class="legend">
      <p class="txtDescription">O iluminado</p>
      <p class="txtDescription">Disponível: 20/04/2024</p>
    </div>
  </div>

  <div class="filmNotification"> 
    <img class="imgFilm" src="../../assets/icon/homeme aranha.svg" alt="">
    <div class="legend">
      <p class="txtDescription">Homem Aranha no aranhaverso</p>
      <p class="txtDescription">Disponível: 22/04/2024</p>
    </div>
  </div>
</div>

</ion-content>
