 ion-content{
    --background: none;
    background-image: url(../../assets/fundo/imagemFundo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
    
h1{
    color: white;
}

p{
    color: white;
}

#listFilm{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;

}

.filmNotification{
    display: flex;
    flex-direction: row;    
    width: 100%;
    height: 17%;
    border-top: 2px solid black;

}

#lastFilm{
    border-bottom: 2px solid black;
}

.legend{
    flex-wrap: wrap;
    text-align: center;
}

.imgFilm{
    width: 23%;
    height: 100% 
}



