<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/tabs" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Sobre One Piece</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="img" >
    <img id="size" src="../../assets/banners/onePiece.svg" alt="">
  </div>

  <p id="text">One Piece é um anime e mangá criado por Eiichiro Oda. A série é baseada no mangá e acompanha as aventuras de Monkey D. Luffy e sua tripulação de piratas. 
    A história de One Piece é sobre um jovem que sonha em se tornar o Rei dos Piratas. Para isso, ele reúne uma tripulação de piratas chamada "Os Chapéus de Palha" e embarca em uma jornada épica. 
    O primeiro episódio foi ao ar no Japão no dia 20 de outubro de 1999. O programa continua com 978 episódios, 13 filmes, 8 especiais de TV e 3 OVAs. 
    One Piece é um dos animes mais populares do mundo. Em 2021, os fãs celebraram as marcas de mais de mil capítulos e episódios da série que conquistou milhões de fãs no mundo todo.</p>
 
    <ion-button routerLink="/cast-one-piece"  class="botao">Sobre</ion-button>
</ion-content>
