ion-content{
    --background: none;
    background-image: url(../../assets/fundo/imagemFundo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 78%;
    margin-left: 12%;
}

#size{
    flex: 1;
}

#text{
    color: white;
    text-align: justify;
    margin-left: 2%;
}