<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/tabs" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>aboutEqualizer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="img" >
    <img id="size" src="../../assets/banners/theEqualizer.svg" alt="">
  </div>

  <p id="text">O filme de 2014 O Protetor (The Equalizer) é sobre Robert McCall (Denzel Washington), um ex-agente secreto que leva uma vida tranquila como balconista de uma loja de ferragens. No entanto, quando McCall descobre que Teri (Chloë Grace Moretz) é prisioneira da máfia russa, ele decide intervir. 
    O filme é baseado na série de televisão dos anos 80 com o mesmo nome. O filme tem um orçamento de cerca de 65 milhões de dólares e arrecadou 192 milhões de dólares nas bilheterias.</p>
 
</ion-content>
