<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/my-list" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Sobre Rocky 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div id="img" >
    <img id="size" src="../../assets/banners/rocky.svg" alt="">
  </div>

  <p id="text">O filme Rocky IV de 1985 é sobre um confronto entre o Ocidente e o Oriente. O filme conta a história de Rocky Balboa (Sylvester Stallone), o campeão mundial de boxe de pesos pesados, que decide enfrentar o lutador russo Ivan Drago (Dolph Lundgren) para vingar a morte do seu amigo Apollo Creed. Rocky treina na Sibéria e prepara-se para uma luta em Moscovo, transmitida pela televisão para todo o mundo. 
    O filme tem uma estrutura narrativa simples, com um inimigo, uma vítima e um mocinho. No entanto, ao longo dos 88 minutos do filme, há elementos que reforçam o simbolismo e a carga ideológica do filme.</p>

    <h6 id="Elenco"> Estrelando: Sylvester Stallone, Carl Weathers, Dolph Lundgren... </h6>

  <ion-button routerLink="/cast-rocky"  class="botao">Sobre</ion-button>

</ion-content>
