<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/tabs" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Sobre Orange is the new Black</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <div id="img" >
    <img id="size" src="https://tm.ibxk.com.br//ms/images/highlights/000/043/954/41604.jpg" alt="">
  </div>

  <p id="text">Orange Is the New Black é uma série de comédia dramática da Netflix. A série estreou em 2013 e tem sete temporadas. 
    A série segue Piper Chapman, uma mulher privilegiada que leva uma vida confortável, mas que no passado cometeu um crime grave. Piper é enviada para uma prisão feminina, onde faz amigas e inimigas. 
    O título da série é um jogo de palavras que zomba de Piper Chapman. "Orange" é uma referência aos uniformes laranjas do sistema carcerário dos Estados Unidos. "The New Black" significa "estar na moda" ou "ser tendência".</p>
  
 
</ion-content>
