<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/about-one-piece" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Elenco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <h1 id = "ST">  One Piece </h1>

  <ion-list lines="none">
    <ion-item>
      <ion-label>Luffy: Iñaki Godoy</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nami: Emily Rudd</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Zoro: J.J. Jr. Mackenyu</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ussop: Jacob Gibson</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sanji: Taz Skylar</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Coby: Morgan Davies</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Shanks: Peter Gadiot</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Buggy: Jeff Ward</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mihawk: Steven John Ward</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
