<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/about-lacasa" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Elenco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item>
      <ion-label>Úrsula Corberó: Tokyo</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Álvaro Morte: O Profesor</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Itziar Ituño: Raquel Murillo / Lisboa</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Pedro Alonso: Berlin</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Paco Tous: Moscou</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Alba Flores: Nairobi</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Miguel Herrán: Rio</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Jaime Lorente: Denver</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Esther Acebo: Mónica Gaztambide / Estocolmo</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Enrique Arce: Arturo Román</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Darko Peric: Helsinki</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Rodrigo de la Serna: Palermo</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Hovik Keuchkerian: Bogotá</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Luka Peros: Marselha</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Belén Cuesta: Manila</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Najwa Nimri: Inspetora Alicia Sierra</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Fernando Cayo: Coronel Tamayo</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Juan Fernández: Coronel Prieto</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Mario de la Rosa: Suárez</ion-label>
    </ion-item> 

    <ion-item>
      <ion-label>Roberto García Ruiz: Oslo</ion-label>
    </ion-item> 

  </ion-list>
</ion-content>
