ion-content{
    --background: none;
    background-color:  #ffffc7;
}

h1{
    color: white;
}

#series{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.banner{
    width: 30%;
    height: 30%;
}   