<ion-header>
  <ion-toolbar color="dark">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <h1>Disponíveis no catálogo</h1>
 <h2> </h2>

  
 <div id="series">
    
  <img class="banner" src="../../assets/banners/heMan.svg" alt="">
  <img class="banner" src="../../assets/banners/dontLookUp.svg" alt="">
  <img class="banner" src="../../assets/banners/breakingBad.svg" alt="">

</div>

<hr>
<h1>Drama</h1>

<div id="series">
    
  <img class="banner" src="../../assets/banners/sandman.svg" alt="">
  <img class="banner" src="../../assets/banners/breakingBad.svg" alt="">
  <img class="banner" src="../../assets/banners/peakyBlinders.svg" alt="">

</div>

<hr>
<h1>Comédia</h1>

<div id="series">
    
  <img class="banner" src="../../assets/banners/centralIntelligence.svg" alt="">
  <img class="banner" src="../../assets/banners/theCroods.svg" alt="">
  <img class="banner" src="../../assets/banners/matilda.svg" alt="">

</div>

</ion-content>
