ion-content{
    --background: none;
    background-color:  #ffffc7;
}

.banner{
    width: 30%;
    height: 30%;
}

.series{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botao{
    --background: none;
    background-color: black;
    border-radius: 12px;
}
