ion-content{
    --background: none;
    background-image: url(../../assets/fundo/imagemFundo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner{
    width: 30%;
    height: 30%;
}

.series{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botao{
    --background: none;
    background-color: black;
    border-radius: 12px;
}
