<ion-header [translucent]="true">
  <ion-toolbar color="#ffffc7">
      <ion-title><h1 id="netflix">StreamPlay</h1></ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
  
  <h1 id="txtTitle">Continuar assistindo</h1>
  <div id="imgSerie">
   <video  poster="../../assets/banners/thumbChris.jpg" id="hateChris" controls  src="../../assets/Todo Mundo Odeia o Cris- Todo mundo odeia Lasanha(360P).mp4/Todo Mundo Odeia o Cris- Todo mundo odeia Lasanha(360P).mp4"></video>
  </div>
  
  <h1 id="myList">Minha Lista</h1>  

  <div class="series">
    
    <img class="banner" src="../../assets/banners/strangerThings.svg" alt="">
    <img class="banner" src="../../assets/banners/laCasa.svg" alt="">
    <img class="banner" src="../../assets/banners/OrangeNewBlack.svg" alt="">
    
  </div>

  <div class="series">

    <ion-button routerLink="/about-film"  class="botao">Sobre</ion-button>
    <ion-button routerLink="/about-lacasa" class="botao">Sobre</ion-button>
    <ion-button routerLink="/about-orange-black" class="botao">Sobre</ion-button>

  </div>
  
  <div class="series">
    <img class="banner" src="../../assets/banners/onePiece.svg" alt="">
    <img class="banner" src="../../assets/banners/thePlataform.svg" alt="">
     <img class="banner" src="../../assets/banners/theWitcher.svg" alt="">
  </div>

  <div class="series">
    <ion-button routerLink="/about-one-piece" class="botao">Sobre</ion-button>
    <ion-button routerLink="/about-the-plataform" class="botao">Sobre</ion-button>
    <ion-button routerLink="/about-the-witcher" class="botao">Sobre</ion-button>
  </div>

 
</ion-content>
