ion-content{
    --background: none;
    background-image: url(../../assets/fundo/imagemFundo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#navBar{
    background-color: #f0e68c;
}

#imgSerie{
 width: 100%;
 height: 46%;
}

#hateChris{
    width: 100%;
    height: 70%;
}

#txtTitle{
    color:white;
}

#txtSubtitle{
    position: absolute;
    top: 41%;
    color: white;
}

#netflix{
    color: #0075e9;
    margin-bottom: 9%;
}

.icons{
    color: white; 
}

#iconPlay{
    position: relative;
    width: 30%;
    height: 20%;
    bottom: 48%;
    left: 34%;
    color: white;
}

.banner{
    width: 30%;
    height: 30%;
}

.series{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#myList{
    position: absolute;
    color: white;
    bottom: 49%;
    left: 3%;
}


.botao{
    --background: none;
    background-color: black;
    border-radius: 12px;
}
