ion-content{
    --background: none;
    background-color:  #ffffc7;
}

#users{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profiles{
    width: 23%;
    height: 23%;
}

#edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
}

#gerenciar{
    
    font-weight: bold;
}

#pencil{
    margin-left: 10px;
    width: 10%;
    height: 20%;
}
ion-button{

    color: white;
}
ion-icon{
margin-right: 10px;
    color: white;
}

#listBtn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    background-color:#ffffc7;
    height: 30%;
}

.options{
    margin-left: 20px;
    border-radius: 7px;
    background-color:  black ;
    width: 90%;
    
}

#exit{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
    margin-left: 142px;
    height: 5%;
    width: 20%;
    border-radius: 7px;
}

