<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfis e mais 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div id="users">
  <img class="profiles" src="../../assets/icon/iconUser.png" alt="">
  <img class="profiles" src="../../assets/icon/iconUser.png" alt="">
  <img class="profiles" src="../../assets/icon/iconAdd.png" alt=""> 
</div>

<div id="edit">
  <h1 id="gerenciar">Gerenciar contas</h1>
  <img id="pencil" src="../../assets/icon/iconPencil.png" alt="">
</div>


<div id="listBtn">

  <div class="options">
    <ion-button routerLink="/notification" class="button" fill="clear">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificações</ion-label>
    </ion-button>
  </div>

  <div class="options">
    <ion-button routerLink="/my-list" class="button" fill="clear">
      <ion-icon name="checkmark-outline"></ion-icon>
     <ion-label >Minha Lista</ion-label>
    </ion-button>
  </div>

    <div class="options">
    <ion-button routerLink="/page-user" class="button" fill="clear">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Conta</ion-label>
    </ion-button>
  </div>
</div>

<div id="exit">
  <ion-buttons>
    <ion-button>Sair</ion-button>
  </ion-buttons>
</div>


</ion-content>
