<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/about-rocky" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Elenco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="none">
    <ion-item>
      <ion-label>Rocky Balboa: Sylvester Stallone</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apollo Creed: Carl Weathers</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Ivan Dragk: Dolph Lundgren</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Ludmilla Brigitte Nielsen</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Adrian Pennino: Talia Shire </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Paulie Pennino:  Burt Young </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>Tony Evers: Tony Burton  </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>Igor Rimsky: George Rogan  </ion-label>
    </ion-item>
  </ion-list>
 
</ion-content>
