<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ELENCO</ion-title>
    <ion-button slot="start" fill="clear" routerLink="/about-film"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <h1 id = "ST">  Stranger Things </h1>

      <ion-list lines="none">
        <ion-item>
          <ion-label>Eleven: Millie Bobby Brown</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mikey: Finn Wolfhard</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Dustin: Gaten Matarazzo</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Will: Noah Schnapp</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Lucas : Caleb McLaughlin</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Max: Sadie Sink</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Steve: Joe Keery</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Jonathan: Charlie Heaton</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Robin: Maya Hawke</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Nancy: Natalia Dyer</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Joyce: Winona Ryder</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Billy: Dacre Montgomery</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Jim Hooper: David Harbour</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Erica: Priah Ferguson</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Murray: Brett Gelman</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Suzie: Gabriella Pizzolo</ion-label>
        </ion-item>
      </ion-list>
      
      
</ion-content>
