<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/about-the-witcher" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>castTheWitcher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="none">

  <ion-item>
    <ion-label>Geralt de Rivia: Henry Cavill</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ciri: Freya Allan</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Yennefer: Anya Chalotra</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Dandelion: Joey Batey</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Triss Merigold: Anna Shaffer</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Tissaia de  Vries:  MyAnna Buring</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>Renfri: Emma Appleton </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>Fringilla Vigo: Mimi Ndiweni</ion-label>
  </ion-item>

</ion-list>
</ion-content>
