<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/tabs" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Sobre The Witcher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="img" >
    <img id="size" src="../../assets/banners/theWitcher.svg" alt="">
  </div>

  <p id="text"> A série de drama e fantasia The Witcher é baseada na série de livros do escritor polonês Andrzej Sapkowski. A série é ambientada numa terra medieval fictícia e conta a história do bruxo Geralt de Rivia. 
    A série é protagonizada por Henry Cavill como Geralt de Rivia e Freya Allan como Ciri. A segunda temporada, composta por oito episódios, foi lançada em 17 de dezembro de 2021. 
    A série é um conto épico sobre destino e família. Geralt de Rivia é um caçador de monstros solitário que luta para encontrar o seu lugar num mundo onde as pessoas são mais perversas do que as criaturas que ele caça. 
    </p>

</ion-content>
