<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-button routerLink="/tabs" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-title>Sobre o filme</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="img" >
    <img id="size" src="https://images.justwatch.com/poster/191716742/s718/o-maskara.jpg" alt="">
  </div>

  <p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quibusdam ea iusto molestiae totam voluptatibus error labore repellendus odio commodi repellat dignissimos, perspiciatis tempore animi in nisi fugiat. Perspiciatis, quasi.
  Mollitia deserunt, soluta dicta iste temporibus illo blanditiis velit tempora at numquam voluptatum rerum necessitatibus sapiente ipsam! Voluptates voluptatem veniam, incidunt omnis nostrum ipsa ipsum? Accusantium sit distinctio veritatis. Ratione.
  Et deserunt, placeat culpa error molestias quas voluptatem doloremque fugiat architecto fuga voluptates tempora ad perspiciatis ipsum, dolorum ab! Adipisci omnis excepturi, cumque ex ullam itaque obcaecati voluptate qui. Odio.
  Exercitationem aut deserunt magnam delectus commodi obcaecati odit recusandae voluptatibus. Nobis expedita quibusdam ullam ipsa exercitationem, reiciendis quos facere, at illum nostrum distinctio tenetur placeat quisquam saepe corporis soluta dignissimos!</p>

 
</ion-content>
