<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/tabs" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Sobre Stranger Things</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="img" >
    <img id="size" src="../../assets/banners/strangerThings.svg" alt="">
  </div>

  <p id="text">
    Situada na cidade ficcional de Hawkins um grupo de amigos se envolve em uma série de eventos sobrenaturais na pacata cidade de Hawkins. Eles enfrentam criaturas monstruosas, agências secretas do governo e se aventuram em dimensões paralelas., Indiana, a trama começa no ano de 1983 com o desaparecimento do garoto Will. A investigação sobre as estranhas circunstâncias envolvendo seu sumiço leva um grupo de pré-adolescentes a conhecer uma garota com poderes de telecinese e a descobrir uma passagem para um Mundo Invertido.</p>

    <h6 id="Elenco"> Estrelando: Winona Ryder, David Harbour, Millie Bobby Brown... </h6>
  
    <ion-button routerLink="/elenco">ver mais</ion-button>
</ion-content>
