<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/about-orange-black" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Elenco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="none">
    <ion-item>
      <ion-label>Taylor Schilling: Piper Chapman </ion-label>
    </ion-item>

    <ion-item>
      <ion-label> Laura Prepon: Alex Vause </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Danielle Brooks: Tasha "Taystee" Jefferson</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Kate Mulgrew: Galina Reznikov</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Uzo Aduba: Suzanne "Crazy Eyes" Warren</ion-label>
    </ion-item>


  <ion-item>
    <ion-label>Natasha Lyonne: Nicky Nichols</ion-label>
  </ion-item>


<ion-item>
  <ion-label>Taryn Manning: Tiffany "Pennsatucky" Doggett</ion-label>
</ion-item>


<ion-item>
  <ion-label>Dascha Polanco: Dayanara "Daya" Diaz</ion-label>
</ion-item>


<ion-item>
  <ion-label>Selenis Leyva: Gloria Mendoza</ion-label>
</ion-item>


<ion-item>
  <ion-label> Adrienne C. Moore: Cindy "Black Cindy" Hayes </ion-label>
</ion-item>

</ion-list>

</ion-content>
