<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/my-list" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Sobre Infiltrado Na Klan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="img" >
    <img id="size" src="../../assets/banners/blackKlansman.svg" alt="">
  </div>

  <p id="text">Infiltrado na Klan (2018) é um filme de drama biográfico-policial e suspense. O filme é uma reflexão sobre racismo e violência, e explora a perigosa sensação de superioridade de um grupo social e étnico. 
    O filme é baseado no livro autobiográfico Black Klansman: Race, Hate. A história tem lugar em 1978 e segue Ron Stallworth (John David Washington), um policial negro do Colorado que se infiltra na Ku Klux Klan local. Stallworth é o primeiro detetive afro-americano no Departamento de Polícia de Colorado Springs. Ele tem uma ideia inusitada para um afro-americano: entrar em contato direto com a organização ultra-racista Ku Klux Klan, se passando por um homem branco. 
  </p>
 
</ion-content>
