<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink="/about-black-klansman" class="icons" fill="clear" slot="start"> 
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Elenco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines='none' >
  <ion-item>
    <ion-label>Ron Stallworth: John David Washington  </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Flip Zimmerman: Adam Driver</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>David Duke: Topher Grace  </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Patrice: Laura Harrier
   </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Felix:  Jasper Pääkkönen </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Walter: Ryan Eggold </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Jimmy Creek: Michael Buscemi </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Kwame Ture:Corey Hawkins  </ion-label>
  </ion-item>
<ion-item>
    <ion-label>Ivanhoe: Paul Walter Hauser </ion-label>
  </ion-item>
<ion-item>
    <ion-label>Connie: Ashile Atkinson </ion-label>
  </ion-item>
<ion-item>
    <ion-label>Dr Kenebrew:Alec Baldwin  </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Jerome Turner:Harry Belafonte </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Odetta: Damaris Lewis</ion-label>
  </ion-item>
<ion-item>
    <ion-label>Chief Bridges: Robert John Burke </ion-label>
  </ion-item>
<ion-item>
    <ion-label>Walker: Nicholas Turturro </ion-label>
  </ion-item>
</ion-list>
</ion-content>
